{% extends "shop/layout.html" %}

{% block body %}
    {% if message %}
      <div>{{ message }}</div>
    {% endif %}

    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Login</div>
            <div class="card-body">
              <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="email">User Name</label>
                  <input type="name" class="form-control" name="username" placeholder="User Name">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}